.sidebar {
    height: 100vh;
    width: 300px;
    min-width: 300px;
    background: #f4f5f7;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.sidebar__title {
    padding: 20px;
    font-size: 22px;
    font-weight: 500;
    letter-spacing: 1px;
    padding-left: 35px;
}








